<header class="header">

  <div class="container">
    <div class="header-inner">
      <div class="top">
        <div class="top-inner">
          <!-- <span>Logo</span> -->
          <a href="#">
            <img src="assets/images/discord_logo.svg" alt="discord_logo" class="header-logo">
          </a>
          <nav class="header-nav">
            <a href="#" class="header-link">Download</a>
            <a href="#" class="header-link">Nitro</a>
            <a href="#" class="header-link">Safety</a>
            <a href="#" class="header-link">Support</a>
          </nav>
          <a href="#" class="header-btn">Login</a>
        </div>
      </div>
      <div class="bottom">
        <h1>Imagine a place...</h1>
        <p>...where you can belong to a school club, a gaming group, or a worldwide art community. Where just you and a handful of friends can spend time together. A place that makes it easy to talk every day and hang out more often.</p>
        <div class="bottom-links">
          <button type="button" name="button" class="btn-white btn">Download for Windows</button>
          <button type="button" name="button" class="btn-dark btn">Open Discord in your browser</button>
        </div>
      </div>


    </div>
  </div>
  <div class="bg-images">
      <img src="/assets/images/e6d57714479874c665b36c7adee76b1d.svg" alt="" class="first">
      <img src="/assets/images/8a8375ab7908384e1fd6efe408284203.svg" alt="" class="second">
      <img src="/assets/images/c40c84ca18d84633a9d86b4046a91437.svg" alt="" class="third">

  </div>
</header>

<main class="about">
  <section></section>
  <section></section>
  <section></section>
  <section></section>
</main>
<router-outlet></router-outlet>
