<header class="header">

  <div class="container">
    <div class="header-inner">
      <div class="top">
        <div class="top-inner">
          <!-- <span>Logo</span> -->
          <a href="#">
            <img src="assets/images/discord_logo.svg" alt="discord_logo" class="header-logo">
          </a>
          <nav class="header-nav">
            <a href="#" class="header-link">Download</a>
            <a href="#" class="header-link">Nitro</a>
            <a href="#" class="header-link">Safety</a>
            <a href="#" class="header-link">Support</a>
          </nav>
          <a href="#" class="header-btn">Login</a>
        </div>
      </div>
      <div class="bottom">
        <h1>Imagine a place...</h1>
        <p>...where you can belong to a school club, a gaming group, or a worldwide art community. Where just you and a handful of friends can spend time together. A place that makes it easy to talk every day and hang out more often.</p>
        <div class="bottom-links">
          <button type="button" name="button" class="btn-white btn">Download for Windows</button>
          <button type="button" name="button" class="btn-dark btn">Open Discord in your browser</button>
        </div>
      </div>


    </div>
  </div>
  <div class="bg-images">
      <img src="/assets/images/e6d57714479874c665b36c7adee76b1d.svg" alt="" class="first">
      <img src="/assets/images/8a8375ab7908384e1fd6efe408284203.svg" alt="" class="second">
      <img src="/assets/images/c40c84ca18d84633a9d86b4046a91437.svg" alt="" class="third">

  </div>
</header>

<main class="about">
  <section>
    <div class="container">
      <img src="/assets/images/46b2132c01604c9493d558de444929f4.svg" alt="">
      <div class="about-info">
        <h1>Create an invite-only place where you belong</h1>
        <p>Discord servers are organized into topic-based channels where you can collaborate, share, and just talk about your day without clogging up a group chat.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="about-info">
        <h1>Where hanging out is easy</h1>
        <p>Grab a seat in a voice channel when you’re free. Friends in your server can see you’re around and instantly pop in to talk without having to call.</p>
      </div>
      <img src="/assets/images/575a0322f3b36ca2fecb23ad2c6dd5ad.svg" alt="">
    </div>
  </section>
  <section>
    <div class="container">
      <img src="/assets/images/921b1ae33edca174b6ebe787bb8b6c3b.svg" alt="">
      <div class="about-info">
        <h1>From few to a fandom</h1>
        <p>Get any community running with moderation tools and custom member access. Give members special powers, set up private channels, and more.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="about-info">
        <h1>RELIABLE TECH FOR STAYING CLOSE</h1>
        <p>Low-latency voice and video feels like you’re in the same room. Wave hello over video, watch friends stream their games, or gather up and have a drawing session with screen share.</p>
      </div>
      <img src="/assets/images/98ea5b9e92e304c7d352ac462996adc5.svg" alt="">
      <div class="download-block">
        <h1>Ready to start your journey?</h1>
        <button type="button" name="button" class="btn-blue">Download for Windows</button>
      </div>
    </div>

  </section>
</main>


<footer>
  <div class="container">
    <nav>
      <div class="footer-navigation">
        <div class="footer-links">
          <h1 class="footer-blue">Imagine a place</h1>
        </div>
        <div class="footer-links">
          <span class="link-group">Product</span>
          <a href="#">Download</a>
          <a href="#">Nitro</a>
          <a href="#">Status</a>
        </div>
        <div class="footer-links">
          <span class="link-group">Company</span>
          <a href="#">About</a>
          <a href="#">Jobs</a>
          <a href="#">Branding</a>
          <a href="#">Newsroom</a>
        </div>
        <div class="footer-links">
          <span class="link-group">Resources</span>
          <a href="#">College</a>
          <a href="#">Support</a>
          <a href="#">Safety</a>
          <a href="#">Blog</a>
          <a href="#">Feedback</a>
          <a href="#">Developers</a>
          <a href="#">StreamKit</a>
        </div>
        <div class="footer-links">
          <span class="link-group">Policies</span>
          <a href="#">Terms</a>
          <a href="#">Privacy</a>
          <a href="#">Guidelines</a>
          <a href="#">Acknowledgements</a>
          <a href="#">Licenses</a>
          <a href="#">Moderation</a>
        </div>
      </div>
    </nav>
  </div>
</footer>
<router-outlet></router-outlet>
