.container {
  max-width: 1260px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.bg-images {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;

  .first {
   position: absolute;
   z-index: 0;
   left: 50%;
   bottom: 0;
     transform: translate(-50%, 0%);

 }
 .second {
   position: absolute;
   z-index: 0;
   left: 50%;
   bottom: 0;
   transform: translate(-50%, 0%);
   margin-left: -615px;
 }
 .third {
   position: absolute;
   z-index: 0;
   left: 50%;
   bottom: 0;
   transform: translate(-50%, 0%);
   margin-left: 580px;
 }

}

.header {
  position: relative;
  height: 650px;
  background-color: #404eed;
  .header-inner {
    .top-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .header-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 35px auto;
      .header-link {
        font-size: 1.2em;
        margin-right: 40px;
        text-decoration: none;
        color: #fff;
      }
      .header-link:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-logo {
  width: 124px;
  height: auto;
}
.top {
  margin-bottom: 70px;
}
// header-bottom
.header-btn {
  background-color: #fff;
  color: #000;
  padding: 12px 16px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 18px;
  transition: color .2s;
}
.header-btn:hover {
  color: #5865f2;
}
.bottom {
  text-align: center;
  color: #fff;

    .bottom-links{
      z-index: 1;
      display: flex;
      justify-content: center;
      .btn-white {
        margin-right: 40px;
        border-color: #fff;
        transition: color .2s;
      }
      .btn-white:hover {
        color: #5865f2;
      }
      .btn-dark {
        background-color: #23272a;
        color: #fff;
      }
      .btn {
        padding: 20px 40px;
        border-radius: 40px;
        border: 0px;
        font-size: 1.2em;
      }
    }
  h1{
    margin-bottom: 50px;
    font-size: 2em;
  }
  p {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 50px;

  }
}

section .container {
  display: flex;
  align-items: center;
}
section:last-child {
  .container .download-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .container {
    flex-direction: column;
    .about-info {
      margin-top: 30px;
      text-align: center;
    }
  }

}

section:nth-child(even) {
  background-color: #f6f6f6;
}

section {
  font-size: 1.4em;
  text-align: justify;
}
.btn-blue {
  background-color: #5865f2;
  font-size: 1.3em;
  padding: 0.4em 0.7em;
  border-radius: 40px;
  border: 0px;
  margin-bottom: 50px;
}


footer .container nav .footer-navigation{
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer h1{
  margin: 0;
}
.footer-navigation {
  // margin-top: 50px;
  padding: 50px;
}

.footer-navigation::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #5865f2;
  bottom: 15px;
}
.link-group {
  color: #5865f2;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
footer {
  background-color: #23272a;
}
.footer-blue {
  color: #5865f2;
}
